<section class="content" style="margin: 0px !important;">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Le Rapport</h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">



                <div class="body">
                    <div class="table-responsive table_middel">
                        <table class="table mb-0">

                            <tbody>
                                

                                <tr *ngFor="let tab of ConsultationDto">


                                    <td>
                                        <div class="card">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <p class="text-left">Code Docteur: {{tab.User_Add_Cons}}</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center">Titre de consultation: {{tab.titre}}</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-left">Date de consultation: {{tab.date_Add_Cons}}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>




                                       
                                        <!--begin-->
                                        
                                            <div class="form-group">
                                                <table>
                                                    <div class="card">

                                                    <tr>
                                                        <td>
                                                            <h5>Score de Glasgow</h5>
                                                        </td>
                                                        <td>{{tab.sorce_glasgow}}<b>/15</b></td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <h5>Détresse respiratoire:</h5>
                                                        </td>
                                                        <td>
                                                            {{tab.d_respiratoire}}

                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td>
                                                            <h5>Etat de choc:</h5>
                                                        </td>
                                                        <td>
                                                            {{tab.choc}}
                                                        </td>
                                                    </tr></div>
                                                    <div class="card">
                                                    <tr>
                                                        <td>
                                                            <div class="card">
                                                                <div class="body">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <h5>Examen pleuro pulmonaire :</h5>
                                                                            </td>
                                    
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                    
                                                                <div class="body">
                                    
                                                                    <table>
                                                                        <tr>
                                    
                                                                            <td>
                                                                                <h5>Dyspnée</h5>
                                                                            </td>
                                                                            <td>
                                                                                {{tab.pu_dyspnee}}
                                    
                                                                            </td>
                                    
                                                                            <td>
                                                                                <h5>Tirage</h5>
                                                                            </td>
                                                                            <td>
                                                                                {{tab.pu_triage}}
                                                                            </td>
                                    
                                                                        </tr>
                                                                    </table>
                                    
                                                                    <table>
                                                                        <tr>
                                    
                                                                            <td>
                                                                                <h5>Auscultation (si anormale préciser)
                                                                                </h5>
                                                                            </td>
                                                                            <td>{{tab.pu_auscultation}}</td>
                                                                        </tr>
                                    
                                                                    </table>
                                                                </div>
                                    
                                                            </div>
                                                        </td>
                                                    </tr></div>
                                                    <tr>
                                                        <div class="card">
                                                        <td>
                                                            <h5>Examen cardio-vasculaire:</h5>
                                                            <div class="body">
                                                                <table>
                                                                    <tr>
                    
                                                                        <td>
                                                                            <h5>I.V.D</h5>
                                                                        </td>
                                                                        <td>
                    
                                                                            {{tab.cv_ivd}}
                    
                                                                        </td>
                    
                                                                        <td>
                                                                            <h5>Marbrures</h5>
                                                                        </td>
                                                                        <td>
                                                                            {{tab.cv_marbrures}}
                                                                        </td>
                    
                                                                    </tr>
                                                                </table>
                                                                <table>
                                                                    <tr>
                    
                                                                        <td>
                                                                            <h5>Auscultation (si
                                                                                anormale préciser)</h5>
                                                                        </td>
                                                                        <td> {{tab.cv_ausculation}}</td>
                                                                    </tr>
                                                                </table>
                    
                                                            </div>
                                                        </td></div>
                                                        
                                                    </tr>

                                                    <tr>
                                                        <div class="card">
                                                        <td>
                                                            <div class="body">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>Examen neurologique :
                                                                            </h5>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>Signes méningés</h5>
                                                                        </td>
                    
                                                                        <td>
                                                                            {{tab.ne_signes_meninges}}
                    
                                                                        </td>
                    
                    
                    
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>PF</h5>
                                                                        </td>
                                                                        <td>
                                                                            {{tab.ne_pf}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>RPM absent</h5>
                                                                        </td>
                                                                        <td>
                                                                            {{tab.ne_rpm}}
                                                                        </td>
                                                                    </tr>
                    
                    
                    
                                                                    <tr>
                                                                        <td>
                                                                            <h5>Babinski</h5>
                                                                        </td>
                                                                        <td>
                                                                            {{tab.ne_babinski}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>Hémiplégie-Hemiparésie
                                                                            </h5>
                                                                        </td>
                                                                        <td>
                                                                            {{tab.ne_hemiplegie}}
                                                                        </td>
                                                                    </tr>
                                                                </table>
                    
                    
                    
                                                            </div>
                                                        </td>
                                                        </div>
                                                    </tr>
                                                    <tr>
                                                        <div class="card">
                                                        <td>
                                                            <h5>Examen abdominal :</h5>
                                                            <div class="body">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>Défense</h5>
                    
                                                                        </td>
                                                                        <td>{{tab.abd_defense}}</td>
                    
                    
                    
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                    
                                                                        </td>
                                                                        <td>
                                                                            <h5>Abd sensible</h5>
                                                                        </td>
                                                                        <td>
                                                                            {{tab.abd_sensible}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>Météorisme</h5>
                    
                                                                        </td>
                                                                        <td>{{tab.abd_meteorisme}}</td>
                    
                                                                        <td>
                                                                            <h5>Orfices herniaires
                                                                                libres</h5>
                                                                        </td>
                                                                        <td>{{tab.abd_orifices}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h5>TR</h5>
                                                                        </td>
                                                                        <td>{{tab.abd_tr}}</td>
                                                                    </tr>
                                                                </table>
                    
                    
                                                            </div>
                                                        </td>
                                                        </div>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="card">

                                                                <div class="body">
                                                
                                                                    <div class="row clearfix">
                                                                        <div class="col-md-12">
                                                
                                                
                                                                            <h1>Observation du docteur</h1>
                                                                            <div class="form-floating">
                                                                                <p>{{tab.examen_Physique}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="card">

                                                                <div class="body">
                                                
                                                                    <div class="row clearfix">
                                                                        <div class="col-md-12">
                                                
                                                
                                                                            <h1>Ordonnance du patient</h1>
                                                                            <div class="form-floating">
                                                                                <p>{{tab.ordonnonce_patient}}</p>
                                                                            </div>
                                                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                            




                                                </table>
                                            </div>
                                        
                                       
                                        




                                        



                                        <!--fin de test-->






                                    </td>
                                    



                                </tr>
                                

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>