<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2> Profile de Patient</h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">

                <div class="card">

                    <div class="body">
                        <strong>Nom</strong>
                        <p>{{Patient.nom}}</p>
                        <strong>Prenom</strong>
                        <p>{{Patient.prenom }}</p>
                        <strong>Date de naissance</strong>
                        <p>{{Patient.dateDeNaissance}}</p>
                        <strong>EtatCivil</strong>
                        <p>{{Patient.etatCivil}}</p>
                        <strong>cin</strong>
                        <p>{{Patient.cin}}</p>
                        <strong>SexeENUM</strong>
                        <p>{{Patient.sexeENUM}}</p>
                        <strong>FiliéreCnam</strong>
                        <p>{{Patient.filiereCnam}}</p>
                        <strong>Tel1</strong>
                        <p>{{Patient.tel1}}</p>
                        <strong>Tel2</strong>
                        <p>{{Patient.tel2}}</p>



                        <hr>
                        <strong>Domicile</strong>
                        <address>{{Patient.domicile}}</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active " data-toggle="tab" href="#analyse">Analyse
                                    demandé</a></li>


                        </ul>


                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="analyse">
                                <div class="timeline-body">
                                    <div class="timeline m-border">
                                        <section class="content" style="margin: 0px !important;">
                                            <div class="container-fluid">
                                                <div class="block-header">
                                                    <h2>Analyse</h2>

                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="card">

                                                            <div class="body">
                                                                <form>
                                                                    <div class="row clearfix">

                                                                        <div class="table-responsive">
                                                                            <table class="table table-hover mb-0">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>TYPE</th>
                                                                                        <th>DATE DE DEMANDE</th>
                                                                                        <th></th>

                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                              
                                                                                    <tr       *ngFor="let tab of  Fiche_Patient">
                                                                                        <td>{{tab.type}}</td>
                                                                                        <td>{{tab.date_Add}}</td>
                                                                                        
                                                                                        <td> <input type="file"
                                                                                               (change)="pdf($event)"
                                                                                                name="file"
                                                                                                class="form-control"
                                                                                                placeholder="type D'analyse">
                                                                                            <div class="">
                                                                                                

                                                                                                <input type="text"
                                                                                                    [(ngModel)]="fich.ChosesAPrevoir"
                                                                                                    name="ChosesAPrevoir"
                                                                                                    class="form-control"
                                                                                                    placeholder="Choses Aprevoir">
                                                                                                <button
                                                                                                    (click)=" ajouttype(tab.id)"
                                                                                                    class="btn btn-raised g-bg-cyan">Valider</button>
                                                                                                <button
                                                                                                    class="btn btn-raised">Annuler</button>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>


                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>










                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>







                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>