<section class="content home">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2> Liste Des annonces </h2>

                </div>
                <div class="body">


                    <div class="container">
                        <h1>Oops ! La page que vous recherchez est introuvable.</h1>
                        
                        <h1>!!!!!!!!!!!!404 !!!!!!!!!!!!</h1>
                        <p>Nous sommes désolés, mais la page que vous cherchez n'existe pas ou a été déplacée. Veuillez vérifier l'URL ou retourner à la page d'accueil.</p>
                        <a href="index.html" class="btn">Retourner à la page d'accueil</a>
                    </div>
<!--

                    <div class="table-responsive table_middel">
                        tableau
                        <table class="table mb-0">
                            <thead class="thead-dark">
                                <tr>

                                    <th>ID</th>
                                    <th>NOM</th>
                                    <th>PRENOM</th>
                                    <th>DATE DE NAISSANCE</th>
<th>DOMICILE</th>
<th>CIN</th>
<th>SEXE</th>
<th>NUMERO CNAM</th>
<th>NUMERO FICHE</th>
<th>APCI</th>
<th>FILIERE CNAM</th>
<th>ETAT CIVIL</th>
<th>SALLE D'ATTENDE</th>
<th>TEL1</th>
<th>TEL2</th>
<th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of patientDTO">
                                    <td>{{data.iD_Patient}}</td>
                                    <td>{{data.nom}}</td>
                                    <td>{{data.pernom}}</td>
                                    <td>{{data.dateDeNaissance}}</td>
                                    <td>{{data.domicile}}</td>
                                    <td>{{data.cin}}</td>
                                    <td>{{data.sexeENUM}}</td>
                                    <td>{{data.numeroCnam}}</td>
                                    <td>{{data.numeroFiche}}</td>
                                    <td>{{data.apci}}</td>
                                    <td>{{data.filiereCnam}}</td>
                                    <td>{{data.etatCivil}}</td>
                                    <td>{{data.salle_Dattente}}</td>
                                    <td>{{data.tel1}}</td>
                                    <td>{{data.tel2}}</td>
                                    <td><a   class="btn btn-raised btn-sm" (click)="supprimer(data.iD_Patient)">supprimer</a></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</section>